
#listView {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-control-inner-background: transparent;
}

#listView .list-cell {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#listView .list-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1); /* Optional hover effect */
}

.button {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #FF5733; /* FlavorBot orange */
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.3, 1, 1);
}
